.idea/vcs.xml
out/production/oopKaart/oopKaart/.gitattributes
out/production/oopKaart/oopKaart/Locatie.class
out/production/oopKaart/oopKaart/Paal.class
out/production/oopKaart/oopKaart/.idea/misc.xml
out/production/oopKaart/oopKaart/.idea/modules.xml
out/production/oopKaart/oopKaart/.idea/vcs.xml
out/production/oopKaart/oopKaart/kaartLezer.class
out/production/oopKaart/oopKaart/oopKaart.iml
out/production/oopKaart/oopKaart/OvKaart.class
.idea/misc.xml
.idea/modules.xml
oopKaart.iml
